@charset "utf-8";
@import "_variables.scss";

// [TODO] scss 정리
ul, ol, li { margin:0; padding:0; list-style:none; }
button{ cursor:pointer; }

.hidden{
    position:absolute; 
    padding:0; 
    margin:-1px;
    width:1px; 
    height:1px; 
    border:0; 
    clip:rect(0 0 0 0); 
    overflow:hidden; 
}

body{
    min-width:357px;
    position:relative;
    margin:0;
    padding:0;
    font-size:get-vw(14px);
    color:#333;
    font-family:sans-serif, 'Noto Sans KR';
}

.app__guide{
    padding:0 5%;
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:999;
    box-sizing:border-box;

    .inner{
        position:relative;

        .text{
            color:#fff;
            font-size:get-vw(12px);
        }

        .icon__pointer{
            display:inline-block;
            border:get-vw(2px) solid red;
            border-radius:get-vw(5px);
            box-sizing:border-box;
        }

        .guide__items{
            position:relative;
        }
    
        .guide__menu{
            height:get-vw(40px);

            .icon__pointer{
                position:absolute;
                top:get-vw(8px);
                right:0;
                width:get-vw(20px);
                height:get-vw(20px);
            }

            .text{
                display:block;
                position:absolute;
                bottom:get-vw(-10px);
                right:get-vw(10px);
            }
        }

        .guide__search{
            margin:get-vw(30px) 0 0;

            .icon__pointer{
                width:100%;
                height:get-vw(30px);
            }
        }

        .guide__save{
            width:100%;
            margin-top:get-vw(28px);

            .icon__pointer{
                margin-left:get-vw(43px);
                // position:absolute;
                // top:0;
                // left:get-vw(45px);
                width:get-vw(23px);
                height:get-vw(23px);
            }

            .text{
                display:block;
            }
        }
    }
}

header{
    position:relative;
    height:get-vw(40px);
    line-height:get-vw(40px);
    text-align:center;
    background-color:#ccc;
}

section{
    margin:0 5%;
}

.app__title{
    margin:0;
    font-size:get-vw(18px);
    color:#333;
}

.menu__button{
    padding:0;
    position:absolute;
    top:get-vw(8px);
    right:5%;
    width:get-vw(20px);
    height:get-vw(20px);
    border:none;
    background:url(../img/icon_menu.png)no-repeat;
    background-size:100% 100%;
}


.app__search{
    margin:get-vw(30px) 0;
    
    &:after{
        @extend %clearfix;
    }

    input{
        float:left;
        width:100%;
        height:get-vw(30px);
        line-height:1;
        text-indent:get-vw(5px);
        border:1px solid #666;
        border-radius:get-vw(5px);
        box-sizing:border-box;
        outline:none;
    }
}

.list__wrap{
    margin:get-vw(5px) 0;
    padding:get-vw(10px) 0;    
}

.app__mylist{
    button{
        border:none;
        outline:none;
    }

    .list__icon{
        position:relative;
        left:-(get-vw(7px));
        display:inline-block;
        width:get-vw(40px);
        height:get-vw(40px);
        background:url(../../assest/img/icon_baggage.png)no-repeat;
        background-size:100% 100%;
    }

    .list__items{
        cursor:default;

        button{
            margin-left:get-vw(5px);
            padding:0;
            position:relative;
            top:get-vw(4px);
            width:get-vw(17px);
            height:get-vw(17px);
            background:#fff url(../img/icon_close.png)no-repeat;
            background-size:100% 100%;
            border-radius:50%;
        }
    }

    .sava__button{
        width:get-vw(20px);
        height:get-vw(20px);
        background:url('../img/icon_save.png')no-repeat;
        background-size:100% 100%;
    }
}

.app__list{
    margin-top:get-vw(15px);

    .list__icon{
        position:relative;
        left:-(get-vw(5px));
        display:block;
        width:get-vw(30px);
        height:get-vw(30px);
        background:url('../../assest/img/icon_list.png')no-repeat;
        background-size:100% 100%;
    }

    .list__items{
        button{
            position:absolute;
            top:0;
            lefT:0;
            width:100%;
            height:100%;
            background:none;
            border:none;
            outline:none;
        }
    }
}

.list__items{
    position:relative;
    margin:get-vw(4px);
    display:inline-block;
    padding:get-vw(5px);
    border:get-vw(1px) dashed #333;
    border-radius:get-vw(5px);

    &:hover{
        color:#fff;
        background:#666;
    }
}

.app__noti{
    display:none;
    position:fixed;
    top:30%;
    left:50%;
    transform:translate(-50%, -50%);
    background:#fff;
    padding:15px;
    color:#333;
    text-align:center;
    border:1px solid #333;
    border-radius:get-vw(5px);
    box-sizing:border-box;

    &.on{
        display:block;
    }

    &:before{
        content:'';
        display:inline-block;
        width:get-vw(20px);
        height:get-vw(20px);
        background:url('../img/icon_check.png')no-repeat;
        background-size:100% 100%;
    }

    .inner{
        display:block;
    }
}

footer{
    margin-top:get-vw(20px);
    text-align:center;
    font-size:get-vw(10px);
    color:#666;
}