@charset "utf-8";

.list__items{
    display:inline-block;
    position:relative;
    margin:get-vw(4px);
    padding:get-vw(5px);
    border:get-vw(1px) dashed #333;
    border-radius:get-vw(5px);
    box-sizing:border-box;

    &:hover{
        color:#fff;
        background:#666;
    }

    & + .list__items{
        margin-left:2%;
    }
}