@charset "utf-8";
@import "_variables.scss";

ul, ol, li { margin:0; padding:0; list-style:none; }
button{ cursor:pointer; }
.hidden{
    position:absolute; 
    padding:0; 
    margin:-1px;
    width:1px; 
    height:1px; 
    border:0; 
    clip:rect(0 0 0 0); 
    overflow:hidden; 
}

body{
    margin:0;
    padding:0;
    font-size:get-vw(18px);
    color:#333;
    font-family: 'Noto Sans KR', sans-serif;
}

header{
    position:relative;
    padding:get-vw(10px) 5%;
    line-height:1;
    text-align:center;
    background-color:#ccc;
}

section{
    margin:0 5%;
}

.app__title{
    margin:0;
    font-size:get-vw(20px);
    color:#333;
}

.app__edit{
    position:absolute;
    top:0;
    right:0;
    border:none;
    background:none;
}


.app__search{
    margin:get-vw(30px) 0;
}

.app__search:after{
    @extend %clearfix;
}

.search__input{
    float:left;
    padding:get-vw(5px);
    width:80%;
    font-size:get-vw(16px);
    line-height:1;
    border:1px solid #333;
    box-sizing:border-box;
}

.search__button{
    margin-left:4%;
    float:left;
    padding:get-vw(5px);
    width:16%;
    font-size:get-vw(16px);
    line-height:1;
    border:1px solid #333;
    background:none;
    box-sizing:border-box;
}

.list__wrap{
    margin:get-vw(5px) 0 get-vw(20px) 0;
    padding:get-vw(10px) 0;
    border:1px solid #333;
}

.list__items{
    display:inline-block;
    padding:get-vw(3px) get-vw(5px);
    line-height:1;
    background:#ccc;
    border-radius:get-vw(5px);
}

.close__button{
    padding:0;
    width:20px;
    height:20px;
    background:none;
    border-radius:50%;
    border:1px solid #333;
}

footer{
    font-size:get-vw(14px);
    text-align:center;
}