@charset "utf-8";

.header{
    position:relative;
    height:get-vw(40px);
    line-height:get-vw(40px);
    text-align:center;
    background-color:#ccc;

    h2{
        margin:0;
        font-size:get-vw(18px);
        color:#333;
    }

    &-menu__button{
        padding:0;
        position:absolute;
        top:50%;
        // top:get-vw(8px);
        right:5%;
        transform:translateY(-50%);
        width:get-vw(20px);
        height:get-vw(20px);
        border:none;
        background-repeat:no-repeat;
        background-size:100% 100%;
        background-image:url(../img/icon_menu.png);
        background-color:inherit;

        &:focus{
            outline:none;
        }

        &-close{
            width:get-vw(15px);
            height:get-vw(15px);
            background-image:url(../img/icon_menu_close.png);
        }

        &-back{
            left:5%;
            width:get-vw(15px);
            height:get-vw(15px);
            background-image:url(../img/icon_back.png);
        }
    }

    // &-menu__button{
    //     padding:0;
    //     position:absolute;
    //     top:get-vw(8px);
    //     right:5%;
    //     width:get-vw(20px);
    //     height:get-vw(20px);
    //     border:none;
    //     background-repeat:no-repeat;
    //     background-size:100% 100%;
    //     background-image:url(../img/icon_menu_close.png);
    //     background-color:inherit;

    //     &:focus{
    //         outline:none;
    //     }
    // }

    // &-header{
    //     height:get-vw(40px);
    //     line-height:get-vw(40px);
    //     text-align:center;
    //     background-color:#ccc;

        
    // }
}