@charset "utf-8";

.header{
    position:relative;
    height:get-vw(40px);
    line-height:get-vw(40px);
    text-align:center;
    background-color:#ccc;

    h2{
        margin:0;
        font-size:get-vw(18px);
        color:#333;
    }
}