@charset "utf-8";
@import "_variables", 
        "_reset", 
        "_header",
        "_footer",
        "../Components/Search/_index",
        "../Components/CheckItem/_index",
        "../Components/Notification/_index";

        //[TODO] 체크아이템 크기랑 똑같이 맞추기
        
.edit{
    &-inner{
        margin:get-vw(30px) 5%;
    }               
}

.edit.editing{
    .checklist__items{
        animation:alternate rocking .3s infinite linear;
    }
}

@keyframes rocking{
    0%{
        transform:rotate(2deg);
    }
    100%{
        transform:rotate(-2deg);
    }
}

.controls{
    .controls-btns{
        display:flex;
        justify-content:space-between;
    }

    button{
        width:30%;
        border-radius:get-vw(3px);
        padding:get-vw(5px);
        box-sizing:border-box;
        color:#333;
        background:#fff;
        border:1px solid #666;
        outline:0;

        &:hover,
        &.on{
            color:#fff;
            background:#666;
            border:1px solid #666;
            box-sizing:border-box;
        }
    }

    button + button{
        margin-left:1%;
    }
}

.controls-add{
    margin-top:get-vw(20px);
    display:none;
    width:100%;
    height:get-vw(25px);
    vertical-align:middle;
    
    &-inner{
        display:flex;
        justify-content:space-between;

        label{
            width:80%;
        }

        input{
            padding:get-vw(4px) get-vw(5px);
            width:100%;
            height:100%;
            outline:0;
            box-sizing:border-box;
            border:1px solid #666;
            border-radius:get-vw(3px);
        }
    
        button{
            padding:get-vw(5px);
            width:15%;
            height:100%;
            box-sizing:border-box;
            border-radius:get-vw(3px);
            border:1px solid #666;
        }
    }
}
.editing__item{
    border:1px solid #333 !important;
    
    &:hover{
        background:none !important;
    }

    input{
        padding:get-vw(5px);
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        border:0;
        border-radius:0;
        box-sizing:border-box;

        &:hover{
            border:0;
            outline:0;
        }
    }

    .btn_edit_submit{
        display:inline-block;
        width:get-vw(5px);
        height:get-vw(5px);
        border-radius:50%;
        border:1px solid #666;
        background:#fff url(../img/icon_close.png) no-repeat;
        box-sizing:border-box;
    }
}

.remove-ing{
    .checklist__items{
        border:1px dashed red !important;
    }
}