@charset "utf-8";
@import "_variables", 
        "_reset", 
        "_header",
        "_footer",
        "../Components/Search/_index",
        "../Components/CheckItem/_index",
        "../Components/Notification/_index";

        
.edit{
    &-inner{
        margin:get-vw(30px) 5%;
    }               
}

.controls-add{
    display:none;
}

.editing{
    .controls-add{
        display:block;
    }
}


