@charset "utf-8";
@import "_variables", 
        "_reset", 
        "_header",
        "_footer",
        "../Components/Search/index",
        "../Components/CheckItem/index.scss",
        "../Components/Notification/index.scss";

.container{
    position:relative;

    .main{
        position:relative;
        display:none;
    
        &.on{
            display:block;
        }
    
        &-inner{
            margin:get-vw(30px) 5%;
        }
    }
    
    .menu{
        display:none;
        background:#fff;
    
        &.on{
            display:block;
        }        
    
        &-list-inner{
            margin:get-vw(30px) 0;
    
            li{
                background:#eee;
                color:#333;
    
                & + li {
                    margin-top:get-vw(10px);
                }
    
                a{
                    display:block;
                    padding:get-vw(15px) 5%;
                    color:#333;
                    text-decoration:none;
                    
                    &:hover{
                        font-weight:700;
                    }
                }
    
                &.version{
                    padding:get-vw(15px) 5%;
                }
            }
        }
    }

    .empty{
        display:inline-block;
        margin-top:get-vw(10px);
        font-size:get-vw(14px);
        
    }
}


.checklist{
    button + button{
        margin-left:get-vw(15px);
    }

    & + .checklist{
        margin-top:get-vw(15px);
    }    

    &__list{
        margin:get-vw(5px) 0;
    
        .checklist__text--empty{
            font-size:get-vw(12px);
        }
    }

    &__icon{
        position:relative;
        display:block;
        background-repeat:no-repeat;
        background-size:100% 100%;

        &--default{
            left:-(get-vw(5px));
            width:get-vw(30px);
            height:get-vw(30px);
            background-image:url('../../src/img/icon_list.png');
        }

        &--my{
            display:inline-block;
            left:-(get-vw(7px));
            width:get-vw(40px);
            height:get-vw(40px);
            background-image:url('../../src/img/icon_baggage.png');
        }
    }

    &__button--save{
        width:get-vw(20px);
        height:get-vw(20px);
        background:url('../img/icon_save.png')no-repeat;
        background-size:100% 100%;
    }

    &__button--add{
        position:relative;
        width:get-vw(20px);
        height:get-vw(20px);
        background:url('../img/icon_plus.png')no-repeat;
        background-size:100% 100%;
    
        &.on{
            background:url('../img/icon_check.png')no-repeat;
            background-size:100% 100%;
        }
    }

    &_input--add{
        position:absolute;
        top:0;
        left:get-vw(25px);
        width:get-vw(150px);
        height:get-vw(20px);
        font-size:get-vw(12px);
        background:#fff;
    }
}